@model TransactionView

<link href="~/css/home.css" rel="stylesheet" />

@if (Model.Transactions.Count() == 0)
{
    <h3 style="line-height:1.5em;">
        You have no transactions.  Start with adding some transactions by hitting
        <a asp-controller="Home"
           asp-action="Add"
           style="margin-left:0;padding-left:0;font-size:1.3em;color:#ee3d00;">
            +
        </a>
    </h3>
}
else
{
    <div id="app"></div>
    <script src="~/dist/index.js"></script>
}
